#main_section1 {
  background: url(./Images/Section1_Background.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  padding: 10px;
  background-repeat: no-repeat;
  display: block;
}
#main_section1 h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(94, 10, 10);
}
